<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>510K_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{338,123}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,61},{338,123}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
            <key>510K_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{266,105}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,70},{266,105}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
            <key>510K_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{342,141}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,43},{342,141}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
            <key>510K_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,167}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{350,167}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
            <key>510K_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{312,187}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{312,187}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
            <key>510K_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,346},{304,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{304,189}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
            <key>510K_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{304,185}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{304,185}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
            <key>510K_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,652},{302,177}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,7},{302,177}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
            <key>510K_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{266,105}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,70},{266,105}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
            <key>510K_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{266,105}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,70},{266,105}}</string>
                <key>sourceSize</key>
                <string>{350,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>510K.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f217074ad72006eb6e77e7ecb1e9fdb4$</string>
            <key>textureFileName</key>
            <string>510K.png</string>
        </dict>
    </dict>
</plist>
