<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>amgps_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{77,106}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{77,106}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{79,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{79,108}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,344},{79,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{79,110}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{79,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{79,112}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,114}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{81,114}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,234},{79,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{79,112}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{79,112}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{79,112}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{79,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{79,110}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,348},{79,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{79,108}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,114},{79,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{79,110}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,116},{79,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{79,112}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{81,114}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{81,114}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,230},{79,112}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{79,112}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,226},{79,110}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{79,110}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,338},{79,108}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{79,108}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
            <key>amgps_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,110},{77,106}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{77,106}}</string>
                <key>sourceSize</key>
                <string>{95,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>amgps.png</string>
            <key>size</key>
            <string>{326,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff41504d5ec18ab27ed3839bb20fd26c:c62c90deb727554bdbb460958ef99b40:562f950040dfd0b42dd4b980a8002740$</string>
            <key>textureFileName</key>
            <string>amgps.png</string>
        </dict>
    </dict>
</plist>
