<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baodan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,102}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{88,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>baodan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{88,100}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{88,100}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>baodan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{88,98}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{88,98}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>baodan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{86,100}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{86,100}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>baodan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,102}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{86,102}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baodan.png</string>
            <key>size</key>
            <string>{448,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b807bf536b66415b568e41095af5af9:99a122a4a73bd77acb89a8714cfb2d44:f3ceb7fd0a485f46f1f809b029a9462f$</string>
            <key>textureFileName</key>
            <string>baodan.png</string>
        </dict>
    </dict>
</plist>
