<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clickQuan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{370,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{370,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,148},{370,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{370,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{370,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{370,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{370,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{370,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{370,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{370,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{370,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{370,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{370,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,294},{368,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{368,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,440},{364,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{364,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,586},{360,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{360,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,374},{366,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{366,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
            <key>clickQuan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,294},{368,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{368,144}}</string>
                <key>sourceSize</key>
                <string>{380,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clickQuan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb34e4430fd0d9195c825ff29951288$</string>
            <key>textureFileName</key>
            <string>clickQuan.png</string>
        </dict>
    </dict>
</plist>
