<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dakuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,742},{236,410}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{236,410}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
            <key>dakuang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{234,404}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{234,404}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
            <key>dakuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{242,410}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{242,410}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
            <key>dakuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{246,410}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{246,410}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
            <key>dakuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,410}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{250,410}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
            <key>dakuang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,250},{246,410}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{246,410}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
            <key>dakuang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,498},{242,410}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{242,410}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
            <key>dakuang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{246,410}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{246,410}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
            <key>dakuang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{240,408}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{240,408}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
            <key>dakuang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,980},{236,408}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{236,408}}</string>
                <key>sourceSize</key>
                <string>{270,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dakuang.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ae6913b2e4f7151c7690735b94dd424$</string>
            <key>textureFileName</key>
            <string>dakuang.png</string>
        </dict>
    </dict>
</plist>
