<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,176},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,350},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>ddz_p5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
            <key>none.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,524},{126,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,172}}</string>
                <key>sourceSize</key>
                <string>{126,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_poker.png</string>
            <key>size</key>
            <string>{1794,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44dc1d07c0021399b90841de33ffbea0$</string>
            <key>textureFileName</key>
            <string>ddz_poker.png</string>
        </dict>
    </dict>
</plist>
