<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dtz_river_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,95},{239,23}}</string>
                <key>offset</key>
                <string>{-94,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,9},{239,23}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,411},{229,23}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,11},{229,23}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{231,23}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,11},{231,23}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{231,25}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,11},{231,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,542},{229,23}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,13},{229,23}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,174},{233,25}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,12},{233,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,174},{233,25}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,12},{233,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,41},{233,25}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,12},{233,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,174},{235,25}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,11},{235,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,41},{233,25}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,11},{233,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,174},{235,25}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,11},{235,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,41},{237,21}}</string>
                <key>offset</key>
                <string>{-88,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,10},{237,21}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,174},{235,25}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,10},{235,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,120},{237,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,10},{237,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,147},{237,25}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,10},{237,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,174},{235,25}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,9},{235,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,41},{239,25}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,10},{239,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,68},{239,25}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,10},{239,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,174},{235,25}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,10},{235,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,436},{233,25}}</string>
                <key>offset</key>
                <string>{32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,11},{233,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,463},{233,25}}</string>
                <key>offset</key>
                <string>{37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,11},{233,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,174},{235,25}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,12},{235,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,41},{239,21}}</string>
                <key>offset</key>
                <string>{-84,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,10},{239,21}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{231,25}}</string>
                <key>offset</key>
                <string>{50,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,12},{231,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{229,27}}</string>
                <key>offset</key>
                <string>{59,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,11},{229,27}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,282},{229,25}}</string>
                <key>offset</key>
                <string>{69,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,13},{229,25}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,513},{227,27}}</string>
                <key>offset</key>
                <string>{79,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,12},{227,27}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,567},{227,27}}</string>
                <key>offset</key>
                <string>{89,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,12},{227,27}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{461,37}}</string>
                <key>offset</key>
                <string>{-18,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{461,37}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,41},{461,35}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,5},{461,35}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,41},{461,33}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,7},{461,33}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{465,33}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,8},{465,33}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,41},{461,33}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,8},{461,33}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,241},{235,19}}</string>
                <key>offset</key>
                <string>{-77,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,12},{235,19}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,174},{239,23}}</string>
                <key>offset</key>
                <string>{-94,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,8},{239,23}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,2},{237,19}}</string>
                <key>offset</key>
                <string>{-73,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,12},{237,19}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,490},{235,21}}</string>
                <key>offset</key>
                <string>{-67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,11},{235,21}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,280},{229,19}}</string>
                <key>offset</key>
                <string>{-60,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,12},{229,19}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,596},{231,21}}</string>
                <key>offset</key>
                <string>{-56,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,11},{231,21}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
            <key>dtz_river_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,276},{227,21}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,12},{227,21}}</string>
                <key>sourceSize</key>
                <string>{521,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dtz_river.png</string>
            <key>size</key>
            <string>{506,621}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35809082683aa2318844e8a6aaa0a52b:2e710575d355ba5e63d4c37e3c0e733f:9be96f4f1870d4572b674bcba7e64b80$</string>
            <key>textureFileName</key>
            <string>dtz_river.png</string>
        </dict>
    </dict>
</plist>
