<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>go_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,176},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>go_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,346},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>go_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,176},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>go_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,89},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>go_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,89},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>go_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>go_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>go_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>go_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
            <key>go_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,85}}</string>
                <key>sourceSize</key>
                <string>{168,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>go.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:325f388468e17971cfce5350525655af$</string>
            <key>textureFileName</key>
            <string>go.png</string>
        </dict>
    </dict>
</plist>
