<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liandui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,157},{460,47}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{460,47}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,245}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{342,245}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{364,241}}</string>
                <key>offset</key>
                <string>{-22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{364,241}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{378,239}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,1},{378,239}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{290,151}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,32},{290,151}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{340,207}}</string>
                <key>offset</key>
                <string>{-18,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{340,207}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,357},{266,127}}</string>
                <key>offset</key>
                <string>{-15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,52},{266,127}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,357},{196,89}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,88},{196,89}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{212,83}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,82},{212,83}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,286},{422,69}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,99},{422,69}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,404},{434,97}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,84},{434,97}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,155},{436,129}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,68},{436,129}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,351},{368,137}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,46},{368,137}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,206},{392,143}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{392,143}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{404,153}}</string>
                <key>offset</key>
                <string>{20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,34},{404,153}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,211},{378,191}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{378,191}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
            <key>liandui_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,243},{360,227}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{360,227}}</string>
                <key>sourceSize</key>
                <string>{460,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liandui.png</string>
            <key>size</key>
            <string>{2002,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27107a931a5f1f4d8ab36db4f160638a:e4eab6de82a5cdc12023e8a385c1775e:35c90dba6498a54a79ac95266f5cc198$</string>
            <key>textureFileName</key>
            <string>liandui.png</string>
        </dict>
    </dict>
</plist>
