<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lnmjbg_d1p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{88,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,131}}</string>
                <key>sourceSize</key>
                <string>{88,131}</string>
            </dict>
            <key>lnmjbg_d1p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{64,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,94}</string>
            </dict>
            <key>lnmjbg_d1p2_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,95}}</string>
                <key>sourceSize</key>
                <string>{67,95}</string>
            </dict>
            <key>lnmjbg_d2p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,137},{28,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,69}}</string>
                <key>sourceSize</key>
                <string>{28,69}</string>
            </dict>
            <key>lnmjbg_d3p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>lnmjbg_d4p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,270},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>lnmjbg_d4p3_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_lnbg.png</string>
            <key>size</key>
            <string>{122,385}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de09edb833f492484ac89a990fbc7a42$</string>
            <key>textureFileName</key>
            <string>majiang_lnbg.png</string>
        </dict>
    </dict>
</plist>
