<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ymjbg_d1p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,131}}</string>
                <key>sourceSize</key>
                <string>{88,131}</string>
            </dict>
            <key>ymjbg_d1p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{64,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,94}}</string>
                <key>sourceSize</key>
                <string>{64,94}</string>
            </dict>
            <key>ymjbg_d1p2_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{67,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,95}}</string>
                <key>sourceSize</key>
                <string>{67,95}</string>
            </dict>
            <key>ymjbg_d2p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{28,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,69}}</string>
                <key>sourceSize</key>
                <string>{28,69}</string>
            </dict>
            <key>ymjbg_d3p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,206},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>ymjbg_d4p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,150},{67,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,54}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>ymjbg_d4p3_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,92},{67,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,56}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_yellowbg.png</string>
            <key>size</key>
            <string>{167,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47633c973fb79cfd0a5616bfcd0de55b$</string>
            <key>textureFileName</key>
            <string>majiang_yellowbg.png</string>
        </dict>
    </dict>
</plist>
