<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nmw_bcard_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,134},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,398},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,530},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,662},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,794},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,266},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,398},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,530},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,662},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,794},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,398},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,530},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,662},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,794},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,398},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,398},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,398},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,398},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,530},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,662},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,794},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,530},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,530},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,530},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,662},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,794},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,662},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,794},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
            <key>nmw_bcard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,662},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nmw_bcard.png</string>
            <key>size</key>
            <string>{786,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3107528eacf2897865c57de435bf382a:292a3c9cf403a79e0271ec3306bdd10a:1fd94e0fc67d1d615d1327a7e17a1f1a$</string>
            <key>textureFileName</key>
            <string>nmw_bcard.png</string>
        </dict>
    </dict>
</plist>
