<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>z510K_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{339,125}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,64},{339,125}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
            <key>z510K_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,149},{335,105}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,75},{335,105}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
            <key>z510K_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{369,145}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,45},{369,145}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
            <key>z510K_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,173}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{357,173}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
            <key>z510K_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{319,193}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{319,193}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
            <key>z510K_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{335,195}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{335,195}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
            <key>z510K_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,256},{335,191}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{335,191}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
            <key>z510K_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,323},{335,183}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{335,183}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
            <key>z510K_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,149},{335,105}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,75},{335,105}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
            <key>z510K_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,149},{335,105}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,75},{335,105}}</string>
                <key>sourceSize</key>
                <string>{373,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>z510K.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19cb59d362e23ec504a666e1bc4803cd$</string>
            <key>textureFileName</key>
            <string>z510K.png</string>
        </dict>
    </dict>
</plist>
