<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>zhangsiAM14.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM17.png</key>
			<dict>
				<key>width</key>
				<integer>176</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>176</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM16.png</key>
			<dict>
				<key>width</key>
				<integer>750</integer>
				<key>height</key>
				<integer>650</integer>
				<key>originalWidth</key>
				<integer>750</integer>
				<key>originalHeight</key>
				<integer>650</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM15.png</key>
			<dict>
				<key>width</key>
				<integer>185</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>185</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>1376</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM01.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1561</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM02.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM03.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM04.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM05.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1350</integer>
				<key>y</key>
				<integer>650</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM06.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1050</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM07.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>1050</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM08.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>1050</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM09.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>1350</integer>
				<key>y</key>
				<integer>1050</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM10.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1450</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM11.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>450</integer>
				<key>y</key>
				<integer>1450</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM12.png</key>
			<dict>
				<key>width</key>
				<integer>450</integer>
				<key>height</key>
				<integer>400</integer>
				<key>originalWidth</key>
				<integer>450</integer>
				<key>originalHeight</key>
				<integer>400</integer>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>1450</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>zhangsiAM13.png</key>
			<dict>
				<key>width</key>
				<integer>210</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>210</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>1350</integer>
				<key>y</key>
				<integer>1450</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>zhangsiAM0.png</string>
			<key>realTextureFileName</key>
			<string>zhangsiAM0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>